{% extends 'base.html.twig' %}

{% block title %}Hello AuthController!
{% endblock %}

{% block body %}
	<div id="auth-page">
		<div class="content">

			<h1>Bienvenue sur TaskLinker</h1>
			<h2>Commencez dès maintenant - gratuitement</h2>

			<p>Vous avez déjà un compte ?</p>

			<a class="button" href="{{ path('app_auth_login') }}">Se connecter</a>
			<a class="button" href="{{ path('app_auth_signup') }}">S'inscrire'</a>

		</div>
	</div>
{% endblock %}
